<div ng-controller="addEmployeeCtrl as addEmployee">
	<div class="container">
		<div class="row">
			<div class="col-md-12 m-t-40">
				<header-view> </header-view>			
				<div class="add-employee">
					<a href="/admin/dashboard"><button type="button" class="btn btn-primary no-border-radius m-b-20"><i class="ion-arrow-return-left"> </i> Back to Employees</button></a>
					<h2>Add Employee </h2>
					<div class="col-md-12 p-l-0">
						<form ng-submit="addEmployee.addEmployee()" name="addEmployeeForm">
							<div class="col-md-6">
							<div class="form-group" ng-class="{ 'has-error' : addEmployeeForm.name.$touched && addEmployeeForm.name.$invalid}">
								<label>Name </label>
								<input type="text" class="form-control" ng-model="employee.name" name="name" required ng-pattern="/^[a-zA-Z ]*$/"/>
								<div class="help-block" ng-messages="addEmployeeForm.name.$error" ng-show="addEmployeeForm.name.$touched">
									<p ng-message="required">This field is required</p>
									<p ng-message="pattern">Can only contain alphabets</p>
								</div>								
							</div>
							<div class="form-group" ng-class="{ 'has-error' : addEmployeeForm.designation.$touched && addEmployeeForm.designation.$invalid}">
								<label>Designation </label>
								<input type="text" class="form-control" ng-model="employee.designation" name="designation" required />
								<div class="help-block" ng-messages="addEmployeeForm.designation.$error" ng-show="addEmployeeForm.designation.$touched">
									<p ng-message="required">This field is required</p>
								</div>								
							</div>
							<div class="form-group" ng-class="{ 'has-error' : addEmployeeForm.dob.$touched && addEmployeeForm.dob.$invalid}">
								<label>Date of Birth </label>
								<input type="text" class="form-control " ng-model="employee.dob" name="dob" required ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/"/>
								<div class="help-block" ng-messages="addEmployeeForm.dob.$error" ng-show="addEmployeeForm.dob.$touched">
									<p ng-message="required">This field is required</p>
									<p ng-message="pattern">Please enter date in mm/dd/yyyy</p>
								</div>							
							</div>
							</div>
							<div class="col-md-6">
							<div class="form-group" ng-class="{ 'has-error' : addEmployeeForm.age.$touched && addEmployeeForm.age.$invalid}">
								<label>Age </label>
								<input type="text" class="form-control" ng-model="employee.age" name="age" required ng-pattern="/^\d+$/" age-verify="{{employee.dob}}"/>
								<div class="help-block" ng-messages="addEmployeeForm.age.$error" ng-show="addEmployeeForm.age.$touched">
									<p ng-message="required">This field is required</p>
									<p ng-message="pattern">Can only contain numerics</p>
									<p ng-message="ageVerify">Age do not match as per Date of Birth</p>
								</div>											
							</div>
							<div class="form-group" ng-class="{ 'has-error' : addEmployeeForm.phone.$touched && addEmployeeForm.phone.$invalid}">
								<label>Mobile </label>
								<input type="text" class="form-control" ng-model="employee.phone" name="phone" required ng-pattern="/^\d{12}$/"/>
								<div class="help-block" ng-messages="addEmployeeForm.phone.$error" ng-show="addEmployeeForm.phone.$touched">
									<p ng-message="required">This field is required</p>
									<p ng-message="pattern">Enter valid 12 digit phone number</p>
								</div>								
							</div>
							<div class="form-group" ng-class="{ 'has-error' : addEmployeeForm.email.$touched && addEmployeeForm.email.$invalid}">
								<label>Email </label>
								<input type="email" class="form-control" ng-model="employee.email" name="email" required ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'/>
								<div class="help-block" ng-messages="addEmployeeForm.email.$error" ng-show="addEmployeeForm.email.$touched">
									<p ng-message="required">This field is required</p>
									<p ng-message="pattern">Enter valid email address</p>
								</div>								
							</div>
							</div>
							<div class="col-md-12">
							<div class="form-group" ng-class="{ 'has-error' : addEmployeeForm.address.$touched && addEmployeeForm.address.$invalid}">
								<label>Address </label>
								<input type="text" class="form-control" ng-model="employee.address" name="address" required />	<div class="help-block" ng-messages="addEmployeeForm.address.$error" ng-show="addEmployeeForm.address.$touched">
									<p ng-message="required">This field is required</p>
								</div>										
							</div>
							</div>
							<div class="col-md-12 m-b-40">
								<button type="submit" class="btn btn-success btn-lg no-border-radius">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>