<div ng-controller="adminCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-12 m-t-40 admin-dashboard">
				<header-view> </header-view>
				<div class="full-width" ng-hide="isEditView">
					<h3 class="m-b-30">Employees <small class="pull-right"><a href="/admin/add-employee"><button type="button" class="btn btn-primary no-border-radius">Add Employee</button></a></small></h3>
					<ul class="employee_list list-group p-l-0">
						<li class="employee_item list-group-item" ng-repeat="employee in employeeRecords track by $index">
							<h4 class="m-t-10">{{employee.name}}  <span class="pull-right"><a href="javascript:;" ng-click="editEmployee(employee)" title="Edit"><i class="ion-edit"></i></a><strong class="text-danger pointer m-l-20" ng-click="deleteEmployee(employee)"><i class="ion-close-round" title="Delete"></i></strong></span></h4>
						</li>
					</ul>
				</div>
				<div ng-show="isEditView">
					<employee-detail></employee-detail>
				</div>
			</div>
		</div>
	</div>
</div>