<div ng-controller="loginCtrl">
	<div class="container p-t-40">
		<div class="row">
			<div class="col-md-12 m-t-40">
				<div class="admin_login margin-auto text-center">
					<h1>Employee Portal </h1>
					<h3>Admin Login</h3>
					<google-plus-signin clientid="347067174927-fhfl68urdne4vkl7sdrd9s0s4f6s3fqj" autorender="false" customtargetid="my-gmail-login">
						<div id="my-gmail-login" class="social-element"><button type="button" class="btn btn-google color-white" ><i class="ion-social-googleplus"></i> Google Plus</button></div>
					</google-plus-signin>
				</div>
			</div>
		</div>
	</div>
</div>